/*MAIN CSS*/

// Colors
$background-color-main: #C1C3CE;
$background-color-dark: #2F2E2E;
$box-shadow-color: #888888;
$hover-color: #00d9ae;

body {
  background-color: $background-color-main;
  transition-duration: 0.5;
}

.jumbotron {
  background-color: $background-color-dark;
  color: #fff;
  box-shadow: 3px 3px 2px $box-shadow-color;
}

// CONTAINERS

.container {
  margin: 0px 70px !important;
  width: auto;
}

// TEXTS
p {
  font-size: 20px;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: $hover-color;
}
