/*MAIN CSS*/

body {
  background-color: #C1C3CE;
  transition-duration: 0.5;
}

.jumbotron {
  background-color: #2F2E2E;
  color: #fff;
  box-shadow: 3px 3px 2px #888888;
}

// CONTAINERS

.popup-container {
  background-color: red;
}

.container {
  margin: 0px 70px !important;
  width: auto;
}

// TEXTS
h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: #00d9ae;
}
